<div class="container">

    <div>
        <h3>Member Deck</h3>

        <ul class="draggable-objects">
            <li  ng-repeat="user in vm.userChips" >
                <div class="ngdrag" ng-drag="true" ng-drag-data="user" data-allow-transform="true"> {{user.name}} </div>
            </li>
        </ul>

        <hr/>
        <div class="ngdrop" ng-drop="true" ng-drop-success="vm.onDropCompleteUser($data,$event)">
            <span class="title">Drop area #1</span>

            <div ng-repeat="user in vm.droppedUsers" class="ngdrag" ng-drag="true" ng-drag-data="user" ng-drag-success="vm.onDragSuccessUser($data,$event)" ng-center-anchor="{{vm.centerAnchor}}">
                {{user.name}}
            </div>

        </div>

        <div class="ngdrop" ng-drop="true" ng-drop-success="vm.onDropComplete2($data,$event)">
            <span class="title">Drop area #2</span>

            <div ng-repeat="obj in vm.droppedObjects2" class="ngdrag" ng-drag="true" ng-drag-data="obj" ng-drag-success="vm.onDragSuccess2($data,$event)" ng-center-anchor="{{vm.centerAnchor}}">
                {{obj.name}}
            </div>

        </div>




    </div>

</div><!-- /.container -->